In [8]:
import pandas
import numpy
import matplotlib.pyplot as mpl
import seaborn 
seaborn.set()

from sklearn.linear_model import LinearRegression

In [3]:
data = pandas.read_csv('8.1 1.02. Multiple linear regression.csv.csv')
data

     SAT  Rand 1,2,3   GPA
0   1714           1  2.40
1   1664           3  2.52
2   1760           3  2.54
3   1685           3  2.74
4   1693           2  2.83
..   ...         ...   ...
79  1936           3  3.71
80  1810           1  3.71
81  1987           3  3.73
82  1962           1  3.76
83  2050           2  3.81

[84 rows x 3 columns]

In [4]:
x = data[['Rand 1,2,3', 'SAT']]
y = data['GPA']

In [9]:
reg = LinearRegression()
reg.fit(x,y)

LinearRegression()

In [10]:
reg.coef_

array([-0.00826982,  0.00165354])

In [11]:
reg.intercept_

0.2960326126490922

In [13]:
reg.score(x, y)
n = 82
p = 2

In [20]:
adjusted_r_squared = 1-(1-reg.score(x,y))*(n-1)/(n-p-1)
adjusted_r_squared

0.3916604660480467